

/* VARIABLES DE COLORES */

/* Modo oscuro */

:root{
    --ColorEncabezado: #121212;
    --ColorSeccionMeme: #2A3B47;
    --ColorAside: #202020;
    --ColorFuente: #fafafa;
    --ColorFormulario: rgb(70, 70, 70);

}




/* Modo claro */








/* INICIO ESTILOS GENERALES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: row-reverse;
}

/* FIN ESTILOS GENERALES */

/* INICIO ESTILOS HEADER */

.header{
    width: 100%;
    height: 15vh;
    background-color: var(--ColorEncabezado);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Alatsi', sans-serif;  
}

.titular{
    color: var(--ColorFuente);
    font-size: 2.5rem;
    padding-bottom: 15px;
}

.boton-container{
    display: flex;
    flex-flow: row wrap;
    width: auto;   
}

.boton-container button{
    font-size: 1rem;
    color: var(--ColorFuente);
    outline: none;
    border: none;
    background-color: var(--ColorEncabezado);
    margin: 10px;
    cursor: pointer;
    padding: 0.2rem;
}

.boton-container button:hover{
    background-color: #2e2d2d;
}

.boton-modo-claro{
    display: none;
}
/* FIN ESTILOS HEADER */

/* INICIO ESTILOS SECCIÓN MEME */

.meme-container{
    /* float: left; */
    width: 100%;
    height: 100vh;
    background-color: var(--ColorSeccionMeme);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.meme-canvas{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    
}

.texto-superior, .texto-inferior{
flex: 1 1 15%;
font-family: 'Alatsi', sans-serif;
background-color: var(--ColorFuente);
/* display: flex; */
/* align-items: center;
justify-content: center; */
}


.meme-imagen{
    flex: 4 1 70%;
    background-color: black;
    display: flex;
    align-items: center;
}

.imagen-adaptada{
    width: 100%;
    height: 100%;
}

.texto-superior p, .texto-inferior p{
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    /* -webkit-text-stroke: 1px red; */
  
}


.boton-descarga{
    padding: 0.7rem;
    margin-top: 20px;
    color: var(--ColorFuente);
    background-color: rgb(0, 84, 95);
    outline: none;
    border: none;
}

.boton-descarga:hover{
   background-color:  rgb(18, 97, 107);
}

/* FIN ESTILOS SECCIÓN MEME */

/* INICIO ESTILOS ASIDE */


.aside{
    width: 300px;
    position: absolute;
    height: 100vh;
    background-color: #202020;
    color: var(--ColorFuente);
    font-family: 'Carme', sans-serif;
    align-self: flex-end;
    justify-self: flex-end;
    /* display: none; */
}

.cierre-aside{
    text-align: right;
    padding: 1rem;
    font-size: 20px;
    cursor: pointer;
}

.aside-oculto{
    display: none;
}

/* FIN ESTILOS ASIDE */

/* INICIO ESTILOS FORMULARIOS*/

/* inicio estilos comunes */

.formulario{
    margin: 0rem 1rem;
}

.formulario h2{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 20px;
}

.formulario h3{
    font-size: 15px;
    margin: 1rem 0;
}

.input-texto, input[type=number], textarea{
    background-color: var(--ColorFormulario);
    color: #fafafa;
    width: 100%;
    height: 8px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    margin-bottom: 5%;
    margin-top: 10px;
    outline-style: none;
}



.columna{
    display: flex;
    flex-direction: column;
    margin-top: 0.9rem;
    

}

.columna label{
    font-size: 12px;
}

.fila{
    display: flex;
    justify-content: space-between; 
}

.color span{
    margin-left: 10px;
}

.color input{
    width: 40px;
    background-color: transparent;
    border: none;
    outline-style: none;
}

.selector{
    background-color: var(--ColorFormulario);
    outline-style: none;
    border: none;
    width: 100%;
    height: 8px;
    padding: 10px;
    margin-top: 10px;
}
/* fin estilos comunes*/

/* inicio estilos formulario imagen */

.input-rango{
    outline-style: none;
    height: 8px;
    width: 100%;
    margin: 4px 0;
    background-color: var(--ColorFormulario);
    border-radius: 50px;
    -webkit-appearance: none;
}

.boton-reestablecer{
    padding: 0.7rem;
    margin-top: 15px;
    color: var(--ColorFuente); 
    background-color: var(--ColorFormulario);
    outline: none;
    border: none;
}

.boton-reestablecer:focus{
    background-color: rgb(104, 103, 103);
}


/* fin estilos formulario imagen */


/* inicio estilos formulario texto */

.formulario-texto-oculto{
    display: none;
}

.sin-texto-check, .sin-fondo-check, .selector-fuente{
    margin-bottom: 1rem;
}
.sin-texto-check label{
    font-size: 12px;
}

.tamano-letra{
    width: 15px;
}

.propiedades-letra{
    display: flex;
    justify-content: space-between;
}

.propiedades-letra input{
    width: 60%;
}

.boton-alineacion{
    padding: 7px;
    background-color: var(--ColorFuente);
    outline-style: none;
    border: none;
    border-radius: 5px;
}

.color-fondo{
    margin-bottom: 1rem;
}

.botones-contorno{
margin-bottom: 1rem;
}


.boton-contorno{
   padding: 3px;
   background-color: var(--ColorFuente);
   outline-style: none;
   border: none;
   border-radius: 5px;
}


/* fin estilos formulario texto */


/* ESTILOS PARA DAR CONTORNO */

.contorno-blanco{
    -webkit-text-stroke: 3px white; 
}

.contorno-negro{
    -webkit-text-stroke: 3px black; 
}


